{
    "name": "com.github.browserpass.native",
    "description": "Browserpass native component for the Firefox extension",
    "path": "{{ browserpass_binary_path }}",
    "type": "stdio",
    "allowed_extensions": ["browserpass@maximbaz.com"]
}
